<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD! 😛</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- 부서 추가 팝업 -->
      <div class="write-popup">
        <div class="editor">
          <div class="input-box">
            <label>과정 번호 : </label>
            <input id="courseNumber" type="number" placeholder="과정번호를 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input id="courseName" type="text" placeholder="과정명을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input id="courseRoom" type="text" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input id="courseStart" type="date" value="2022-08-01" placeholder="과정 시작 날짜입력..." />
            <input id="courseEnd" type="date" value="2023-02-06" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input id="courseTeacher" type="text" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-cancel" onclick="">취소</a>
            <a href="#" class="btn-success" onclick="doJoin()">등록</a>
          </div>
        </div>
      </div>
      <!-- 부서 수정 -->
      <div class="update-popup">
        <div class="editor">
          <div class="close">
            <a href="#" class="btn-close">닫기</a>
          </div>
          <div class="input-box">
            <label>과정 번호 : </label>
            <input id="update-courseNumber" type="number" placeholder="과정번호를 입력하세요..." readonly />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input id="update-courseName" type="text" placeholder="과정명을 입력하세요..." readonly />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input id="update-courseRoom" type="text" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input id="update-courseStart" type="date" placeholder="과정 시작 날짜입력..." />
            <input id="update-courseEnd" type="date" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input id="update-courseTeacher" type="text" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-update" onclick="doUpdate()">수정</a>
            <a href="#" class="btn-delete" onclick="doDelete()">삭제</a>
          </div>
        </div>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
              <span class="title">DW ADMIN</span>
            </a>
          </li>
          <li>
            <a href="/student">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">학생 목록</span>
            </a>
          </li>
          <li>
            <a href="/course">
              <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
              <span class="title">과정 목록</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Sign Out</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- main -->
    <div class="main">
      <!-- table -->
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>과정 목록</h2>
            <a href="#" onclick="addSubject()" class="btn">과정 추가</a>
          </div>
          <table>
            <thead>
              <tr>
                <th>과정 번호</th>
                <th>과정 이름</th>
                <th>과정 호실</th>
                <th>과정 기간</th>
                <th>담당 교사</th>
              </tr>
            </thead>
            <tbody id="data"></tbody>
          </table>
          <!-- 페이징 처리하는 HTML -->
          <div class="pagination">
            <a>Previous</a>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>Next</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Icon CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- Jquery CDN -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script>
    $('.btn-cancel').click(function () {
      $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function () {
      $('.update-popup').css('display', 'none');
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink() {
      list.forEach((item) => {
        item.classList.remove('hovered');
      });
      this.classList.add('hovered');
    }
    list.forEach((item) => {
      item.addEventListener('mouseover', activeLink);
    });

    function getSubject(courseNumber) {
      $('.update-popup').css('display', 'block');
      $.ajax({
        url: '/course/' + courseNumber,
        type: 'GET',
        dataType: 'json',
        success: function (response) {
          $('#update-courseNumber').val(response.courseNumber);
          $('#update-courseName').val(response.courseName);
          $('#update-courseRoom').val(response.courseRoom);
          $('#update-courseStart').val(response.courseStart);
          $('#update-courseEnd').val(response.courseEnd);
          $('#update-courseTeacher').val(response.courseTeacher);
        },
      });
    }

    function addSubject() {
      $('.write-popup').css('display', 'block');
    }
  </script>
  <script>
    callMyAPI();
    function callMyAPI() {
      $.ajax({
        url: '/courses',
        type: 'GET',
        dataType: 'json',
        success: function (response) {
          console.log(response);
          for (var i in response) {
            var startDate = response[i].courseStart.split('');
            var endDate = response[i].courseEnd.split('');
            var startDateResult = [];
            var endDateResult = [];
            for (j = 2; j < 4; j++) {
              startDateResult.push(startDate[j]);
              endDateResult.push(endDate[j]);
            }
            startDateResult.push('.');
            endDateResult.push('.');
            for (j = 5; j < 7; j++) {
              startDateResult.push(startDate[j]);
              endDateResult.push(endDate[j]);
            }
            startDateResult.push('.');
            endDateResult.push('.');
            for (j = 8; j < 10; j++) {
              startDateResult.push(startDate[j]);
              endDateResult.push(endDate[j]);
            }

            let tr = $('<tr onclick="getSubject( ' + response[i].courseNumber + ' )"></tr>');
            let courseNumber = $('<td>' + response[i].courseNumber + '</td>');
            let courseName = $('<td>' + response[i].courseName + '</td>');
            let courseRoom = $('<td>' + response[i].courseRoom + '</td>');
            let courseStart = $('<td>' + startDateResult.join('') + '~' + endDateResult.join('') + '</td>');
            let courseTeacher = $('<td>' + response[i].courseTeacher + '</td>');
            tr.append(courseNumber);
            tr.append(courseName);
            tr.append(courseRoom);
            tr.append(courseStart);
            tr.append(courseTeacher);
            $('#data').append(tr);
          }
        },
      });
    }

    function doJoin() {
      var courseNumber = $('#courseNumber').val();
      var courseName = $('#courseName').val();
      var courseRoom = $('#courseRoom').val();
      var courseStart = $('#courseStart').val();
      var courseEnd = $('#courseEnd').val();
      var courseTeacher = $('#courseTeacher').val();

      var jsonData = {
        courseNumber: courseNumber,
        courseName: courseName,
        courseRoom: courseRoom,
        courseStart: courseStart,
        courseEnd: courseEnd,
        courseTeacher: courseTeacher,
      };

      //AJAX 호출
      $.ajax({
        url: '/course',
        contentType: 'application/json', //서버에 json타입으로 보낼 예정(요청)
        type: 'POST',
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
          alert('과정추가 완료');
          location.reload(); //새로고침
        },
      });
    }

    function doUpdate() {
      var courseNumber = $('#update-courseNumber').val();
      var courseName = $('#update-courseName').val();
      var courseRoom = $('#update-courseRoom').val();
      var courseStart = $('#update-courseStart').val();
      var courseEnd = $('#update-courseEnd').val();
      var courseTeacher = $('#update-courseTeacher').val();

      var jsonData = {
        courseNumber: courseNumber,
        courseName: courseName,
        courseRoom: courseRoom,
        courseStart: courseStart,
        courseEnd: courseEnd,
        courseTeacher: courseTeacher,
      };

      $.ajax({
        url: '/course',
        type: 'PATCH',
        contentType: 'application/json', //서버에 json타입으로 보낼 예정(요청)
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
          alert('과정수정 완료');
          location.reload(); //새로고침
        },
      });
    }

    function doDelete() {
      var courseNumber = $('#update-courseNumber').val();
      console.log(courseNumber);
      // 사원삭제 ajax 연결하기
      $.ajax({
        url: '/course/' + courseNumber,
        type: 'DELETE',
        dataType: 'json',
        success: function (response) {
          console.log(response);
          alert(' 과정삭제완료 ');
          location.reload(); //새로고침
        },
      });
    }
  </script>
</html>
